# This .gitattributes file should be placed at the root of your Unity project directory
# https://git-scm.com/docs/gitattributes

# Same as core.autocrlf=true but for this repository
* text=auto

# Files that use CRLF
*.cs eol=crlf

# Files that use LF
*.json eol=lf
*.inputactions eol=lf
*.txt eol=lf
*.vsconfig eol=lf

# Smart merge for Unity files
*.anim eol=lf merge=unityyamlmerge
*.asset eol=lf merge=unityyamlmerge
*.controller eol=lf merge=unityyamlmerge
*.mat eol=lf merge=unityyamlmerge
*.meta eol=lf merge=unityyamlmerge
*.physicMaterial eol=lf merge=unityyamlmerge
*.physicsMaterial2D eol=lf merge=unityyamlmerge
*.prefab eol=lf merge=unityyamlmerge
*.terrainlayer eol=lf merge=unityyamlmerge
*.unity eol=lf merge=unityyamlmerge

# Merge tool should be configured in $GIT_DIR/config
# Example config:
# [merge]
#     tool = unityyamlmerge
# [mergetool "unityyamlmerge"]
#    trustExitCode = false
#    cmd = 'C:\\Path\\To\\UnityYAMLMerge.exe' merge -p "$BASE" "$REMOTE" "$LOCAL" "$MERGED"

# Git Large File Storage
# https://git-lfs.github.com
# Example format:
# *.ext filter=lfs diff=lfs merge=lfs -text
