# This .gitattributes file should be placed at the root of your Unity project directory
# https://git-scm.com/docs/gitattributes

# Macros
# https://git-scm.com/docs/gitattributes#_defining_macro_attributes
[attr]unity-yaml eol=lf merge=unityyamlmerge
[attr]unity-lfs filter=lfs diff=lfs merge=lfs -text

# Same as core.autocrlf=true but for this repository
* text=auto

# Files that use CRLF
*.cs eol=crlf

# Files that use LF
*.json eol=lf
*.inputactions eol=lf
*.txt eol=lf
*.vsconfig eol=lf

# Smart merge for Unity files
*.anim unity-yaml
*.asmdef unity-yaml
*.asset unity-yaml
*.controller unity-yaml
*.lighting unity-yaml
*.mask unity-yaml
*.mat unity-yaml
*.meta unity-yaml
*.mixer unity-yaml
*.physicMaterial unity-yaml
*.physicsMaterial2D unity-yaml
*.playable unity-yaml
*.prefab unity-yaml
*.renderTexture unity-yaml
*.signal unity-yaml
*.terrainlayer unity-yaml
*.unity unity-yaml
*.wlt unity-yaml

# Git Large File Storage
# https://git-lfs.github.com
# https://docs.unity3d.com/Manual/BuiltInImporters.html

# 3D
*.3ds unity-lfs
*.blend unity-lfs
*.c4d unity-lfs
*.dae unity-lfs
*.dxf unity-lfs
*.fbx unity-lfs
*.jas unity-lfs
*.lxo unity-lfs
*.ma unity-lfs
*.max unity-lfs
*.mb unity-lfs
*.obj unity-lfs

# Audio
*.aif unity-lfs
*.aiff unity-lfs
*.flac unity-lfs
*.it unity-lfs
*.mod unity-lfs
*.mp3 unity-lfs
*.ogg unity-lfs
*.s3m unity-lfs
*.wav unity-lfs
*.xm unity-lfs

# Font
*.dfont unity-lfs
*.otf unity-lfs
*.tff unity-lfs
*.ttc unity-lfs

# Plugin
*.dll unity-lfs

# Texture
*.bmp unity-lfs
*.exr unity-lfs
*.gif unity-lfs
*.hdr unity-lfs
*.iff unity-lfs
*.jpg unity-lfs
*.jpeg unity-lfs
*.pct unity-lfs
*.pic unity-lfs
*.pict unity-lfs
*.png unity-lfs
*.psd unity-lfs
*.svg unity-lfs
*.tga unity-lfs
*.tif unity-lfs
*.tiff unity-lfs
*.xcf unity-lfs

# Video
*.avi unity-lfs
*.asf unity-lfs
*.dv unity-lfs
*.mov unity-lfs
*.mpeg unity-lfs
*.mpg unity-lfs
*.mp4 unity-lfs
*.m4v unity-lfs
*.ogv unity-lfs
*.vp8 unity-lfs
*.webm unity-lfs
*.wmv unity-lfs
